.specialties__description {
    text-align: justify;
}

.specialties__description-text {
    background-color: whitesmoke;
    color: black;
    font-size: 1em;
    padding: 10px;
    border-radius: 15px;
    line-height: 1.15em;
}

.specialties__description-text p {
    margin: 0 0 20px 0;
}

.specialties__description-text p:last-child {
    margin: 0;
}

.specialties__description strong{
    font-weight: bold;
}

.specialties__title-container {
    display: flex;
    align-items: center;
    margin: 20px 0;
    background-color: black;
    padding: 5px;
    border-radius: 15px;
}

.specialties__title {
    font-size: 1.5em;
}