@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.quantico-regular {
  font-family: "Quantico", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.quantico-bold {
  font-family: "Quantico", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.quantico-regular-italic {
  font-family: "Quantico", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.quantico-bold-italic {
  font-family: "Quantico", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

body {
    font-family: "Quantico";
    color: whitesmoke;
    font-size: 1.25em;
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/fundo-celular.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    padding-bottom: 100px;
}

header {
    text-align: center;
    max-width: 1200px;
    margin: auto;
}

.menu-checkbox {
    display: none;
    margin-top: 50px;
}

.menu-checkbox:checked ~ .site-header__menu {
    display: block;
}

.menu-checkbox:checked ~ .site-header__menu-label {
    display: none;
}

.site-header__close-btn {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 45px;
    color: goldenrod;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.site-header__menu-label {
    cursor: pointer;
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
}

#site-header__menu-icon {
    color: #daa520;
    font-size: 48px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    padding: 5px;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
}

.site-header__menu {
    background-color: rgba(0, 0, 0, 0.747);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 2;
    display: none;
}

.site-header__menu li {
    padding: 15px 0;
    border-right: 5px solid goldenrod;
    margin: 15px 0;
}

.site-header__menu__link {
    text-decoration: none;
    color: goldenrod;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    font-size: 1.75em;
    font-weight: bold;
}

.site-header__menu li:hover{
    background-color: goldenrod;
}

.site-header__menu li:hover .site-header__menu__link {
    color: black;
    text-shadow: none;
}

.site-header__menu-desktop {
    display: none;
    background-color: goldenrod;
    border-radius: 0 0 35px 35px ;
    margin-bottom: 20px;
}

.site-header__menu-desktop li{
    list-style-type: none;
    padding: 5px 20px;
    text-align: center;
}

.site-header__menu-desktop li:hover{
    background-color: darkgoldenrod;
    border-radius: 15px;
}

.site-header__menu-desktop__link{
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    font-weight: bold;
}

.site-header__menu-desktop li:hover .site-header__menu-desktop__link{
    color: whitesmoke;
}

.site-header__nav-title {
    background-color: goldenrod;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.site-header__nav-title h1{
    padding-left: 10px;
    color: black;
    font-size: 1.25em;
    font-weight: bold;
}

.site-header__text {
    font-size: 1.45em;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    padding: 5px;
}

.site-header__text strong{
    font-weight: bold;
    color:goldenrod;
}

.container-title {
    display: flex;
    margin: 30px 0 15px 0;
    align-items: center;
}

h2 {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    color: goldenrod;
    padding: 0 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

hr {
    width: 100%;
    border: 3px solid goldenrod;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}


section {
    text-align: center;
    padding: 10px;
    max-width: 1200px;
    margin: auto;
}

a {
    color: goldenrod;
}

a:hover {
    color: darkgoldenrod;
}

.specialties__container-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.specialties__card{
    background-color: whitesmoke;
    color: black;
    font-weight: bold;
    border-radius: 15px;
    width: 160px;
    padding: 5px;
}

.contact__container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact__card{
    background-color: goldenrod;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    height: 75px;
    width: 300px;
    font-size: 1.85em;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 5px;
    margin: 10px;
}

.contact__card:hover{
    background-color: whitesmoke;
}

.specialties__card-texto {
    border-radius: 0 0 15px 15px;
}

.brands__container-logos{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 25px 0;
}

.clients__container-cards {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.75em;
    justify-content: center;
    gap: 30px;
}

.clients__card {
    color: goldenrod;
}

.clients__number {
    color: whitesmoke;
    font-weight: bold;
    font-size: 2em;
}

.contact__link {
    text-decoration: none;
    color: black;
}

.button-more {
    background-color: goldenrod;
    border-radius: 5px;
    border: none;
    font-family: 'Quantico';
    font-size: 1.2em;
    font-weight: bold;
    width: 165px;
    padding: 5px 0;
    margin-top: 15px;
}

.button-more:hover {
    background-color: darkgoldenrod;
}

.button-more a {
    text-decoration: none;
    color: black;
}

@media screen and (min-width: 768px) {
    body {
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/fundo-tablet.png);
    background-position: top center;
    background-size: contain;
    }

    .site-header__nav-title h1{
        font-size: 2em;
    }

    .site-header__menu {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    body {
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/fundo-desktop.png);
    background-position: top center;
    background-size: contain;
    }

    .site-header__menu-label {
        display: none;
    }
    .site-header__menu-desktop{
        display: flex;
        justify-content: space-evenly;
    }
}