@charset "UTF-8";

body {
    background-color: black;
    background-image: url(assets/fundo-celular.png);
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    font-family: 'roboto';
    font-weight: 400;
    font-size: 1.4em;
    text-align: center;
}

strong {
    color: orange;
}

.cabecalho img {
    width: 360px;
}

.cabecalho__texto {
    font-size: 1.3em;
    font-weight: 600;
    width: 95%;
}

.titulo-secao {
    font-size: 1.2em;
    color: orange;
    font-weight: 600;
    margin: 50px 0 20px 0;
}

.especialidades .titulo-secao {
    border-left: 150px solid orange;
    border-right: 150px solid orange;
}
.marcas .titulo-secao {
    border-left: 185px solid orange;
    border-right: 185px solid orange;
}


div.especialidades__container-botoes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: black;
    font-weight: 700;
    gap: 15px;
    justify-content: center;
}

article.especialidades__botao {
    background-color: whitesmoke;
    border-radius: 30px;
    width: 150px;
    height: 150px;
    padding: 5px 15px 25px 15px;
}

.especialidades__container-imagem-botao {
    display: flex;
    height: 120px;
    width: 150px;
    align-items: center;
    justify-content: center;
}

.especialidades__container-imagem-botao img {
    max-width: 140px;
    max-height: 100px;
}

.botao-mais {
    background-color: orange;
    width: 200px;
    height: 50px;
    font-family: 'roboto';
    font-size: 1em;
    font-weight: 700;
    color: black;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
}

.marcas__logos {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.marcas__logos img {
    width: 170px;
}